body {
    margin: 0;
    padding: 0;
    color: #222;
    background: #1976d2;
}

.skew {
    margin-top: -200px;
    padding: 200px 0;
    transform: skew(0deg, -10deg);
    background: #fff;
}

.content {
    transform: skew(0deg, 10deg);
    padding-top: 100px;
}

.description {
    margin-left: 100px
}

p {
    width: 400px
}

a {
    text-decoration: none;
}

.link_jump{
    width: 200px;
    color: rgb(25, 118, 210);
    transition: all 500ms ease-in-out;
}

.link_jump:hover {
    transform: translateX(10px);
}
